$cinzaClaro: #1d1d1d;
$cinzaEscuro: #171717;
$azulClaro: #69c6f4;
$azulEscuro: #007dff;

#contato {
    text-align: center;
    margin-bottom: 50px;
    padding: 30px;

    h2 {
        display: inline-block;
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 50px;
        color: $azulClaro;
        padding: 6px 20px;
        border-left: 4px solid $azulEscuro;
        border-right: 4px solid $azulEscuro;
    }
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        nav {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            i {
                margin: 10px;
                display: flex;
                align-items: center;

                span {
                    display: inline-block;
                    background-color: $azulClaro;
                    border-radius: 50%;
                    padding: 20px;
                    height: 32px;
                    font-size: 2em;
                    color: $cinzaClaro;
                }

                a {
                    color: white;
                    margin-left: 16px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 600px;
            text-align: right;
            margin-top: 40px;

            #nome {
                background-color: $cinzaClaro;
                margin-bottom: 10px;
                border: 2px solid $azulEscuro;
                padding: 10px;
                border-radius: 8px;
                height: 30px;
                color: white;

                &::placeholder {
                    color: white;
                    opacity: 1;
                }
            }

            #email {
                @extend #nome;
            }

            #msg {
                @extend #nome;
                height: 130px;
            }

            button {
                background-color: $cinzaClaro;
                color: white;
                width: 130px;
                font-size: 15px;
                margin: 20px 15px;
                padding: 8px 18px;
                border-radius: 30px;
                border: 2px solid $azulEscuro;
                cursor: pointer;

                &:hover {
                    background-color: $azulEscuro;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    #contato div nav {
        display: flex;
        width: 600px;
    }
}
