$cinzaClaro: #1d1d1d;
$cinzaEscuro: #171717;
$azulEscuro: #3a8dff;
$azulClaro: #6ec3f4;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Montserrat", Arial, sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}



@mixin titulo() {
    display: inline-block;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 50px;
    color: $azulClaro;
    padding: 6px 20px;
    border-left: 4px solid $azulEscuro;
    border-right: 4px solid $azulEscuro;
}

body {
    background-color: $cinzaClaro;
    background-image: url('../img/textura/textura15.png');
    background-repeat: repeat;
    background-position: 0px 10px;
    background-size: 320px;
    overflow: hidden;
}

button {
    -webkit-tap-highlight-color: transparent;
  }

p {
    color: white;
}

.top-btn {
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    right: 40px;
    bottom: 20px;
    color: $azulEscuro;
    font-size: 3em;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 600px) {
    #projetos h2,
    #lef h2,
    #contato h2 {
        font-size: 33px;
    }
}

